<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>az-functions-onprem - API docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.29.1/swagger-ui.min.css"
        integrity="sha384-OFyZ/BC2LThtP2XDBMEhSMeKdG9gk7udSIr1NlawKM1XL1APWlsIi856OIALfO5Q"
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="data:image/png;base64,=">
</head>

<body>
    <div id="swagger-ui"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.29.1/swagger-ui-bundle.min.js"
        integrity="sha384-o1NjSPoS/7sblYrybP8KfXpC7xOOIeuc538Mb1/4/307KIQPLwqmOWvrSS5e1T5s"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="/docs-init.js"></script>
</body>

</html>
