<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>az-functions-onprem - API docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/swagger-ui/swagger-ui.min.css" />
    <link rel="shortcut icon" href="data:image/png;base64,=">
</head>

<body>
    <div id="swagger-ui"></div>
    <script src="/vendor/swagger-ui/swagger-ui-bundle.min.js"></script>
    <script src="/docs-init.js"></script>
</body>

</html>
